main {
    padding: 2em 3em;
    background: linear-gradient(0deg, rgba(202,238,174,0.8379726890756303) 2%, rgba(148,187,233,0.8267682072829132) 78%);
    min-height: 100vh;
}

section {
    width: 45vw;
    box-shadow: 0px 0px 3px rgb(77, 82, 81);
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #fff;
}

h3 {
    font-weight: 500;
    width: 100%;
    margin-top: 10px;
    margin-left: 2.5vw;
}

li {
    font-size: medium;
    font-weight: 450;
    margin-left: 2.5vw;
}

span {
    font-weight: normal;
}

.plan-btn-container {
    width: 45vw;
  }